:root {
    --tPrimary:#1B437A;
    --tSecondary:#18CDF1;
    --tAccent:#0077BB;
    
    --brand-01:#0E689B;
    --brand-02:#7AB841;
    --brand-03:#FF8500;
    --brand-04:#2389F5;
    --subHeading:rgba(6,28,41,90%);

    --bs-gradient:linear-gradient(90deg, #1B437A -5.88%, #0077BB 96.69%);
    --bs-gradient-2:linear-gradient(260deg, #1B437A -5.88%, #0077BB 96.69%);
    --bs-gradient-3:linear-gradient(102.57deg, #0077BB 13.45%, #1B437A 88.08%);
    --bs-gradient-hover:linear-gradient(260deg, #1B437A -5.88%, #0077BB 96.69%);
    --bs-gradient-v1:linear-gradient(90.39deg, #1B437A 0.15%, #0077BB 99.87%);

    --bg-0F0F0F:#0F0F0F;
    --black-80:rgba(0,0,0,80%);
    --black-60:rgba(0,0,0,60%);
    --white-60:rgba(255,255,255,60%);
    --white-80:rgba(255,255,255,80%);

    --text-70:rgba(27, 67, 122, 0.7);

    /* fonts */
    --heading:"Montserrat", sans-serif;
    --swiper-navigation-size:.625rem;
    --swiper-theme-color: var(--tAccent);
    --swiper-pagination-bullet-size:var(--swiper-navigation-size);
    --swiper-pagination-bullet-width:var(--swiper-navigation-size);
    --swiper-pagination-bullet-height:var(--swiper-navigation-size);
    --swiper-pagination-bullet-size:var(--swiper-navigation-size);
    --swiper-pagination-bullet-border-radius:var(--swiper-navigation-size);
    --swiper-pagination-bullet-inactive-color:var(--bs-white);
    --swiper-pagination-bullet-inactive-opacity:.2;

}
body {
    font-family: 'Inter', sans-serif;
    color:#607CA2;
}
body :where(h1,h2,h3,h4,h5,h6){font-family: var(--heading);font-weight:700;}

.pt-100{padding-top:clamp(3.75rem, 3.287rem + 2.4691vw, 6.25rem) !important;}
.pt-80{padding-top:clamp(3rem, 2.6296rem + 1.9753vw, 5rem) !important;}
.pt-70{padding-top:clamp(3rem, 2.7454rem + 1.358vw, 4.375rem) !important;}
.pt-60{padding-top:clamp(2rem, 1.6759rem + 1.7284vw, 3.75rem) !important;}
.pb-100{padding-bottom:clamp(3.75rem, 3.287rem + 2.4691vw, 6.25rem)  !important;}
.pb-80{padding-bottom:clamp(3rem, 2.6296rem + 1.9753vw, 5rem) !important;}
.pb-70{padding-bottom:clamp(3rem, 2.7454rem + 1.358vw, 4.375rem) !important;}
.pb-60{padding-bottom:clamp(2rem, 1.6759rem + 1.7284vw, 3.75rem) !important;}
.bg-tPrimary{background-color:var(--tPrimary) !important;}
.bg-tSecondary{background-color:var(--tSecondary) !important;}
.bg-tAccent{background-color:var(--tAccent) !important;}
.bg-brand-01{background-color:var(--brand-01) !important;}
.bg-brand-02{background-color:var(--brand-02) !important;}
.bg-brand-03{background-color:var(--brand-03) !important;}
.bg-SubHeading{background-color:var(--subHeading) !important;}

.th-tWhite:hover{color: var(--);}

.tPrimary,.th-tPrimary:hover{color:var(--tPrimary) !important;}
.tSecondary,.th-tSecondary:hover{color:var(--tSecondary) !important;}
.tAccent,.th-tAccent:hover{color:var(--tAccent) !important;}
.brand-01,.th-brand-01:hover{color:var(--brand-01) !important;}
.brand-02,.th-brand-02:hover{color:var(--brand-02) !important;}
.brand-03,.th-brand-03:hover{color:var(--brand-03) !important;}
.black-80{color:var(--black-80) !important;}
.black-60{color:var(--black-60) !important;}
.white-60{color:var(--white-60) !important;}
.white-80{color:var(--white-80) !important;}
.bg-F4F4F4{background-color:#F4F4F4 !important;}
.site-header .navbar{--bs-navbar-padding-y:1.0625rem;transition:.25s ease-in-out padding;}
.site-header.header-sticky{background-color:var(--bs-white);}
.site-header.header-sticky .navbar{--bs-navbar-padding-y:0.625rem;}
.site-header .navbar-brand{max-width:clamp(7.5rem, 7.037rem + 2.4691vw, 10rem);}
.site-header .navbar-nav{
    --bs-nav-link-padding-y:.5975rem;
    --bs-nav-link-padding-x:.625rem;
    --bs-nav-link-font-size:1rem;
    --bs-nav-link-font-weight:500;
    --bs-nav-link-color:#555;
    --bs-nav-link-hover-color:#000;
}
.fs-18{font-size:1.125rem !important;}
.invert-0{filter: invert(0) !important;}
.invert{filter: invert(100%) !important;}
.brightness-0{filter:brightness(0) !important;}
.brightness-50{filter:brightness(.5) !important;}
.banner.fr{
    padding-top:17.5rem;
    height:100dvh;
    
}
.banner.fr .bg-overlay video{position:relative;z-index:0;}
/* .banner.fr .bg-overlay::after{
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    display:block;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,50%);
    pointer-events:none;
} */

.site-header .navbar-nav ._btnGroup > .btn{max-height:43px;}
.btn {
    --bs-btn-font-size:1.0625rem;
    --bs-btn-font-weight:600;
    /* --bs-btn-padding-y:.5938rem; */
    --bs-btn-padding-y:.5rem;
    --bs-btn-padding-x:2.25rem;
    --bs-btn-border-radius:0.625rem;
    /* transition:.275s ease-in-out all; */
    line-height:normal;
}
/* .btn.bg-gradient:hover{background-image:none !important;} */
.btn.btn-lg{
    --bs-btn-padding-y: 1.375rem;
    --bs-btn-padding-x: 5.975rem;
    --bs-btn-border-radius:0.5rem;
    line-height:normal;
}
.btn{
    --bs-btn-padding-y:0.625rem;
    --bs-btn-padding-x:1.25rem;
    --bs-btn-border-radius:0.5rem;
    line-height:normal;
}
.btn.btn-sm{
    --bs-btn-padding-y:.5rem;
    --bs-btn-padding-x:1.25rem;
}
.btn.small{--bs-btn-font-size:.875rem;}
.btn.btn-md{
    --bs-btn-padding-x:2.5rem;
    --bs-btn-padding-y:1rem;
    line-height:normal;
}
.btn._with_icon{
    display: inline-flex;
    justify-content:center;
    gap: 14px;
}
.btn._with_icon.btn-lg {
    --bs-btn-padding-x:5.525rem;
}
[class*="btn-outline-"]{
    --bs-btn-padding-y:.5rem;
}
.btn-theme-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--tPrimary);
    --bs-btn-border-color: var(--tPrimary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--tSecondary);
    --bs-btn-hover-border-color:var(--tSecondary);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:var(--tSecondary);
    --bs-btn-active-border-color:var(--tSecondary);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg:var(--tSecondary);
    --bs-btn-disabled-border-color:var(--tSecondary);
}
.btn-theme-secondary{
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--tSecondary);
    --bs-btn-border-color: var(--tSecondary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--tPrimary);
    --bs-btn-hover-border-color:var(--tPrimary);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:var(--tPrimary);
    --bs-btn-active-border-color:var(--tPrimary);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg:var(--tPrimary);
    --bs-btn-disabled-border-color:var(--tPrimary);
}
.btn-theme-white{
    --bs-btn-color: var(--tPrimary);
    --bs-btn-bg: var(--bs-white);
    --bs-btn-border-color: var(--bs-white);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--tPrimary);
    --bs-btn-hover-border-color:var(--tPrimary);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:var(--tPrimary);
    --bs-btn-active-border-color:var(--tPrimary);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg:var(--tPrimary);
    --bs-btn-disabled-border-color:var(--tPrimary);
}

.btn-theme-white.blue-mode{
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--tSecondary);
    --bs-btn-hover-border-color:var(--tSecondary);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:var(--tSecondary);
    --bs-btn-active-border-color:var(--tSecondary);
    --bs-btn-disabled-bg:var(--tSecondary);
    --bs-btn-disabled-border-color:var(--tSecondary);
}

.btn-theme-black{
    --bs-btn-color:  var(--bs-white);
    --bs-btn-bg: var(--bs-black);
    --bs-btn-border-color: var(--bs-black);
    --bs-btn-hover-color:var(--bs-black);
    --bs-btn-hover-bg:var(--bs-white);
    --bs-btn-hover-border-color:var(--bs-white);
    --bs-btn-active-color:var(--bs-black);
    --bs-btn-active-bg:var(--bs-white);
    --bs-btn-active-border-color:var(--bs-white);
    --bs-btn-disabled-color:var(--bs-black);
    --bs-btn-disabled-bg:var(--bs-white);
    --bs-btn-disabled-border-color:var(--bs-white);
}
.btn-outline-tprimary{
    --bs-btn-border-width:.125rem;
    --bs-btn-color:var(--tPrimary);
    --bs-btn-border-color:var(--tPrimary);
    --bs-btn-hover-color:var(--bs-white);
    --bs-btn-hover-bg: var(--tPrimary);
    --bs-btn-hover-border-color: var(--tPrimary);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--tPrimary);
    --bs-btn-active-border-color: var(--tPrimary);
    --bs-gradient: none;
}

.btn-theme-brand-03{
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--brand-03);
    --bs-btn-border-color: var(--brand-03);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--tPrimary);
    --bs-btn-hover-border-color:var(--tPrimary);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:var(--tPrimary);
    --bs-btn-active-border-color:var(--tPrimary);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg:var(--tPrimary);
    --bs-btn-disabled-border-color:var(--tPrimary);
}


/* Link Button Here */

.btn-theme-link{
    font-size: 21px;
    --bs-btn-padding-y: 0rem;
    --bs-btn-padding-x: 0rem;
    --bs-btn-color: var(--brand-04);
    --bs-btn-hover-color: var(--tPrimary);
    --bs-btn-active-color: var(--tPrimary);
}

.btn-theme-link svg{transition: all 300ms ease;}
.btn-theme-link:hover svg {transform: translateX(5px);}

.btn-theme-link.link-brand04:hover svg path{fill: var(--tPrimary);}

/*  */
.lh-30{line-height:1.875rem;}
.site-header .navbar-toggler{background-color:var(--brand-03);border:0px;}
.site-header .navbar-toggler span{filter:brightness(0) invert(1);}
.swiperlinear .swiper-wrapper{transition-timing-function: linear;}
/* Footer */
.footerCTA .card{
    --bs-card-spacer-y:3.125rem;
    --bs-card-spacer-x:3.125rem;
    --bs-card-title-spacer-y:.625rem;
    --bs-card-title-color:var(--bs-white);
    --bs-card-subtitle-color:var(--white-80);
    --bs-card-border-width:0px;
    --bs-card-border-color:#3E3E3E;
    --bs-card-border-radius:0rem;
    --bs-card-color:var(--white-80);
    --bs-card-bg:#0F0F0F;
}
.btn-social{
    position: relative;
    align-items:center;
    justify-content:center;
    width:3rem;
    height:3rem;
    padding:0rem;
    border-radius:10rem;
    border:.0625rem solid #EAEBEB;
    text-decoration:none;
    clip-path: circle(50% at 50% 50%) !important;

    --bs-btn-font-weight: 400;
    --bs-btn-color: #030D24;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #000;
    /* --bs-btn-hover-bg:var(--tSecondary); */
    --bs-btn-hover-border-color:var(--tSecondary);
    --bs-btn-active-color:var(--tSecondary);
    --bs-btn-active-border-color:var(--tSecondary);
    overflow:hidden;
}
.btn-social::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: block;
    background: var(--color-accent);
    z-index: -1;
    clip-path: circle(0% at 50% 50%);
    transition:color .15s ease-in-out,clip-path .15s ease-in-out,clip-path .15s ease-in-out;
}
.btn-social:hover::after {
    clip-path: circle(50% at 50% 50%);
}
.mt-n-30{margin-top:-1.875rem !important;}
._footer_head .navbar{--bs-navbar-padding-y:0rem}
.site-footer hr{border-color:#EAEBEB;margin:2.5rem 0rem;}
._footer_menu ._menu .navbar-nav{
    --bs-nav-link-padding-x:0;
    --bs-nav-link-padding-y:calc(.875rem / 2);
    --bs-nav-link-font-size:.875rem;
    --bs-nav-link-font-weight:400;
    --bs-nav-link-color:var(--bs-black);
    --bs-nav-link-hover-color:var(--color-accent);
}
.cta_bg{height:289px;}
._footer_menu ._menu ._menuBtn{padding:.5rem 0rem;font-size:1.125rem;}
._footer_menu ._menu ._menuBtn ._icon{transition:cubic-bezier(0.215, 0.610, 0.355, 1) .3s all;}
._footer_menu ._menu ._menuBtn[aria-expanded="true"] ._icon{transform:rotate(90deg);}

/* Footer End */

/* ripple */
.ripple{position: relative;overflow: hidden;}
.ripple::before{content: "";position: absolute;background-color: rgba(0,0,0,.1);width: 10%;height: 25%;border-radius: var(--bs-btn-border-radius);z-index: 1;top: 35%;left: 45%;-webkit-transform: scale(0);transform: scale(0);}
.ripple:hover::before{-webkit-transform: scale(12);transform: scale(12);-webkit-transition: border-radius .5s .5s,-webkit-transform .5s;transition: border-radius .5s .5s,-webkit-transform .5s;transition: transform .5s,border-radius .5s .5s;transition: transform .5s,border-radius .5s .5s,-webkit-transform .5s;}
.ripple:hover::after{content: "";position: absolute;z-index: 2;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);}
/* ripple end */


/* companiesSwipr */
.companiesSwipr::after,
.companiesSwipr::before{
    content:"";
    position:absolute;
    top:-4px;
    bottom:0px;
    height:70px;
    width:clamp(3rem, 2.3981rem + 3.2099vw, 6.25rem);
    background: linear-gradient(90deg, #F4F4F4 48%, rgba(244, 244, 244, 0) 100%);
    z-index:2;
    pointer-events:none;
    user-select:none;
}
.companiesSwipr::before{
    left:auto;
    right:0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);

}

.themePills{ justify-content:center; border:.0625rem solid #F4F4F4; border-radius:.375rem; overflow:hidden; --bs-nav-pills-border-radius:0rem; --bs-nav-pills-link-active-color: #fff; --bs-nav-pills-link-active-bg:var(--tPrimary); --bs-nav-link-padding-x:2.5rem; --bs-nav-link-padding-y:0.9375rem; --bs-nav-link-font-weight:600; --bs-nav-link-color:var(--tPrimary); --bs-nav-link-hover-color:var(--tAccent); --bs-nav-link-font-size:1.375rem;}

._ps .tab-wrap .card{ --bs-card-spacer-y:clamp(2.25rem, 1.8565rem + 2.0988vw, 4.375rem); --bs-card-spacer-x:clamp(1.5rem, 0.8519rem + 3.4568vw, 5rem); --bs-card-title-spacer-y:1.875rem; --bs-card-border-width:0rem; --bs-card-border-radius:1.875rem; --bs-card-title-color:var(--tPrimary); --bs-card-subtitle-color:var(--text-70); --bs-card-color:var(--text-70); --bs-card-bg:#F7FBFF;}

._ps .tab-wrap .card.c2{--bs-card-bg:#FDF7F0;}
._ps .tab-wrap .card.c3{--bs-card-bg:#F3F8EF;}
.bg-F8FBFF{background-color:#F8FBFF !important;}
.bg-E3E8EF{background-color:#E3E8EF !important;}
.list_arrow li{position:relative;padding-left:calc(1.125rem + 1.25rem);}
.list_arrow li::after{content:"";position:absolute;left:0px;top:0px;bottom:0px;margin:auto 0px;height:1.25rem;width:1.25rem;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath stroke='%231B437A' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m7.5 5 5 5-5 5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");background-size:cover;background-repeat:no-repeat;background-position:center;}
.list_arrow.white li::after{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m7.5 5 5 5-5 5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");}
.overview{ background-image:url('../media/images/home/ov/ov.svg'); background-repeat:no-repeat; background-position:center right; background-size:contain;}


._industrial .accordion{ --bs-accordion-color: #fff; --bs-accordion-bg: var(--tPrimary); --bs-accordion-border-width: 0rem; --bs-accordion-border-radius:.625rem; --bs-accordion-inner-border-radius:0rem; --bs-accordion-btn-padding-x:1.875rem; --bs-accordion-btn-padding-y:1.875rem; --bs-accordion-btn-color:#051226; --bs-accordion-btn-bg:#F8FBFF; --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); --bs-accordion-btn-focus-border-color:transparent; --bs-accordion-btn-focus-box-shadow: none; --bs-accordion-body-padding-x:1.875rem; --bs-accordion-body-padding-y:1.875rem; --bs-accordion-active-color: var(--bs-white); --bs-accordion-active-bg: var(--tPrimary);}

._industrial .accordion .accordion-body{padding-top:0px;}
._industrial .accordion .accordion-item{border-radius:var(--bs-accordion-border-radius) !important;border:0px !important;overflow:hidden !important;}
._industrial .accordion .accordion-item:not(:last-child){margin-bottom:1.875rem;}
._industrial .accordion .accordion-button{font-size: clamp(1.125rem, 1.0787rem + 0.2469vw, 1.375rem);font-weight:500;}
.uspCard{ --bs-card-spacer-y:clamp(1.375rem, 1.3056rem + 0.3704vw, 1.75rem); --bs-card-spacer-x:clamp(1.25rem, 1.1111rem + 0.7407vw, 2rem); --bs-card-title-spacer-y:1.25rem; --bs-card-border-width:.0625rem; --bs-card-border-color:#EAF0F8; --bs-card-border-radius:.625rem; --bs-card-title-color:var(--tPrimary); --bs-card-subtitle-color:var(--text-70); --bs-card-color:var(--text-70); --bs-card-bg:#fff;}

.tractionSwipr{--swiper-pagination-color:var(--bs-white);}
.bg-18CDF1{background-color:#18CDF1 !important;}
.happyCustomersSwipr{--swiper-pagination-bullet-inactive-color:var(--brand-01);}
.cusCard{ --bs-card-spacer-y:clamp(1.5rem, 1.3148rem + 0.9877vw, 2.5rem); --bs-card-spacer-x:clamp(1.125rem, 1.0093rem + 0.6173vw, 1.75rem); --bs-card-title-spacer-y:1.25rem; --bs-card-border-width:.0625rem; --bs-card-border-color:#EAF0F8; --bs-card-border-radius:.625rem; --bs-card-title-color:var(--tPrimary); --bs-card-subtitle-color:var(--text-70); --bs-card-color:var(--text-70); --bs-card-bg:#fff;}

.cusCard .card-text{font-family:var(--heading);}
.road .car{margin-bottom:-16px !important;}
._markets .box{position: relative;max-width:110px;}

._markets .box .icon{ width: clamp(6.125rem, 5.7913rem + 1.7799vw, 7.5rem); height: clamp(6.125rem, 5.7913rem + 1.7799vw, 7.5rem); font-size: clamp(3.375rem, 3.0278rem + 1.8519vw, 5.25rem); font-weight:700; color:var(--tSecondary); background-color:var(--tPrimary); display:flex; align-items:center; justify-content:center; clip-path: circle(50% at 50%); margin-bottom:1rem; text-transform: uppercase;}
._markets .box .content{font-family: var(--heading); font-weight: 600; font-size: 16px; line-height: 20px; color: #191919; padding-top:13px; padding-right:10px; position: relative; text-wrap:balance;}
._markets .box .content::before{content:""; position:absolute; top:0px; right:0px; height:29px; width: 100%; display:block; border-width: 1px 1px 0px 0px; border-style: solid; border-color: rgba(25,25,25,10%); border-radius: 0px 8px 0px 0px; pointer-events: none;}
._markets .d-flex{gap: 15px;}
.hoverBoxWrap .hoverBox{display:none;}
.hoverBoxWrap .hoverBox.active{display:block;}

/* Usama Code Here */
/* 14-05-24 */

.bg-clr-F0FDFF{background-color: #F0FDFF;}
.bg-clr-F7FBFF{background-color: #F7FBFF;}
.bg-clr-1B437A07{background-color: rgba(27, 67, 122, 0.07);}
.bg-clr-EAF0F8{background-color: #EAF0F8;}

.bg-clr-C5DFFB_16{background-color: rgba(197, 223, 251, 0.16);}


.weserve .hoverBoxWrap .card{--bs-card-border-color: #1B437A1F}
.bg-clr-E9F3F9{background-color: #E9F3F9;}
.hoverBoxWrap .hoverBox.active{animation: fadeUp 990ms ease 0s;}

@keyframes fadeUp{
    0%{opacity: 0; transform: translateY(8px);}
    100%{opacity: 1; transform: translateY(0px);}
}

.blogsSwipr .blogCard{--bs-card-spacer-y:0px; --bs-card-spacer-x:0px;}
.blogsSwipr .blogCard .btn-wrp a svg{transition: all 300ms ease;}
.blogsSwipr .blogCard:hover .btn-wrp a svg{transform: rotate(45deg);}

.bgGradient{background-image: linear-gradient(90deg, #1B437A 0%, #24B0ED 100%);}

.footerCTA::before{content: ''; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; background-image: url('../media/images/home/footerCTA_BG.svg'); background-size: cover; background-position: center; background-repeat: no-repeat;}

.supportedLogo .swiper-slide .img-box{width: 200px; height: 48px; object-fit: cover; text-align: center;}

.gradientBG{background: linear-gradient(180deg, #FCFEFF 0%, #AEDEF0 100%);}

.site-footer .quick-link ul li{padding: 5px 0px;}
.site-footer .quick-link ul li a{text-decoration: none; color: var(--bs-black); position: relative;}
.site-footer .quick-link ul li a::before{content: ''; position: absolute; bottom: 0px; left: 0px; width: 100%; height: 2px; background-color: var(--brand-02); transform: scaleX(0); transition: transform 300ms ease; transform-origin: bottom right;}
.site-footer .quick-link ul li a:hover::before{transform: scaleX(1); transform-origin: bottom left;}

.site-footer .quick-link ul li a:hover{color: var(--brand-02);}


.infinite {position: relative; width: 8000px; margin: auto; height: 50px; background: #525252; transform-origin: bottom; transform-style: preserve-3d; transform: perspective(2500px) rotateX(0deg);}
.infinite::before {content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 100%; height: 3px; background: linear-gradient(90deg,#fff 0%, #fff 70%, #525252 70%, #525252 100%); background-size: 120px; animation: animateroad 1s linear infinite;}
@keyframes animateroad {
    0% {background-position: 0;}
    100% {background-position: 120px;}
}

.road .truck{animation: truck 0.2s ease-in-out infinite alternate;}

@keyframes truck {
    from {transform: translateY(0px);}
    to {transform: translateY(2px);}
}

.bgMap{background-image: url('../media/images/global/bgMap.svg'); background-size: cover; background-position: center; background-repeat: no-repeat; background-blend-mode: overlay;}



.aboutWrapper .about-banner{padding: 130px 0px 68px;}

.overviewVersion01{padding: 72px 0px;}

.cf{padding: 80px 0px;}

.contactMain .contact-banner .content-wrp{padding: 192px 0px 100px;}

.social-media ul li a svg>*{transition: all 200ms ease;}
.social-media ul li a:hover svg ellipse{fill: var(--brand-02); stroke: var(--brand-02);}
.social-media ul li a:hover svg path{fill: var(--bs-white); fill-opacity:1;}

form input, form textarea{padding: 16.5px 22px !important; font-weight: 500 !important; border: 1px solid rgba(27, 67, 122, 0.12) !important; font-size: 18px !important; border-radius: 10px !important;}

.blogWrapper .blogPage .page-title{padding: 200px 0px 60px;}
.blogWrapper .blogPage .page-title.detailPage{padding-bottom: 390px;}
.blogWrapper > div{display: none;}
.blogWrapper > div:nth-child(-n+6){display: block;}

.blogPage .detail-content{margin-top: -340px;}

.blogPage .detail-content h2{font-size: 2.25em; margin-bottom: 10px; color: var(--tPrimary);}
.blogPage .detail-content h3{font-size: 1.75em; margin-bottom: 10px; color: var(--tPrimary);}
.blogPage .detail-content h4{font-size: 1.5em; margin-bottom: 10px; color: var(--tPrimary);}
.blogPage .detail-content h5{font-size: 1.1em; margin-bottom: 10px; color: var(--tPrimary);}
.blogPage .detail-content p{font-size: 18px; line-height: 1.6; font-weight: 400; margin-bottom: 30px; color: rgba(27, 67, 122, 0.8);}

.blogPage .detail-content ul{list-style: none; padding: 0px 0px 30px; margin: 0px;}
.blogPage .detail-content ul li{position: relative; padding: 3px 0px 3px 35px; font-size: 18px; font-weight: 400; }
.blogPage .detail-content ul li::before{content: ''; position: absolute; top: 6px; left: 0px; width: 24px; height: 24px; background-image: url('../media/images/global/bulletlist.svg'); background-size: cover;}

.dropdown-toggle{display: flex; align-items: center; --bs-dropdown-border-color: 0px;}
.dropdown-toggle::after{content: ''; width: 20px; height: 20px; background-image: url(../media/images/global/dropdown.svg); background-size: cover; background-position: center; border: 0px;}

.radialGradient{position: relative;}
.radialGradient::before{content: ''; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: radial-gradient(144.2% 144.2% at 50% 54.05%, #F7FCFE 0%, rgba(255, 255, 255, 0) 100%);}

.bannerLine{background-image: url('../media/images/global/bannerLine.svg'); background-size: cover; background-position: center;}

.fmsMain .fms-banner{padding-top: 172px;}
.fmsMain .fms-banner .img-wrp .fms-mobile{max-width: 278px; margin-right: -108px;}
.fmsMain .fms-banner .img-wrp .deliveryTruck{margin-left: -110px;}

video{width: 100%; height: 100%;}

ul.bulletList li{padding-left: 35px; margin-bottom: 15px;}
ul.bulletList li::before{content: ''; position: absolute; top: 2px; left: 0px; width: 24px; height: 24px; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='none'%3E%3Cpath stroke='%23FF8500' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.6' d='M1 13a12 12 0 1 0 24 0 12 12 0 0 0-24 0Z'/%3E%3Cpath stroke='%23FF8500' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.6' d='m9 13 2.667 2.667L17 10.333'/%3E%3C/svg%3E"); background-size: cover; background-position: center;}

ul.bulletList.bulletBlue li::before{background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%2011a10%2010%200%201%200%2020%200%2010%2010%200%200%200-20%200%22%20stroke%3D%22%2318CDF1%22%20stroke-width%3D%221.6%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22m7.666%2011%202.222%202.222%204.445-4.444%22%20stroke%3D%22%2318CDF1%22%20stroke-width%3D%221.6%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");}

.gpsProduct-banner .screen-wrp{max-width: 405.18px;}
.gpsProduct-banner .content-wrp{padding: 190px 0px 120px;}

.gpsProduct-banner .deliveryTruck_rtl{margin-left: -9.8rem;}
.gpsProduct-banner .screen-wrp .gps4G_Device{margin-top: 12rem; margin-right: -2rem;}



.map-track {position: absolute; top: 5%; left: 90%; transform: translate(-50%, -50%); width: 100px; height: 100px; background-color: #18CDF1; color: white; text-align: center; line-height: 100px; font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; border-radius: 50%; font-size: 1.3rem;}
.map-track:hover {cursor: pointer;}
.map-track::after, .map-track::before{content: ""; display: block; position: absolute; top: 0; left: 0; width: 100px; height: 100px; background: #18CDF1; border-radius: 50%; z-index: -1; -webkit-animation: grow 1s ease-in-out infinite; animation: grow 1s ease-in-out infinite;}
.map-track::after {background: rgba(24, 205, 241, 0.4);}
.map-track::after::before {content: ""; display: block; position: absolute; top: 0; left: 0; width: 100px; height: 100px; background: #5f84ff; border-radius: 50%; z-index: -1; -webkit-animation: grow 1s ease-in-out infinite; animation: grow 1s ease-in-out infinite;}
.map-track::before { background: rgba(24, 205, 241, 0.6); -webkit-animation-delay: -0.5s; animation-delay: -0.5s;}
@-webkit-keyframes grow {
    0% {transform: scale(1, 1); opacity: 1;}
    100% {transform: scale(1.8, 1.8); opacity: 0;}
}
@keyframes grow {
    0% {transform: scale(1, 1); opacity: 1;}
    100% {transform: scale(1.8, 1.8); opacity: 0;}
}


.thumbGallery2 .swiper-slide {width: 25%; height: 100%; opacity: 0.4;}
.thumbGallery2 .swiper-slide-thumb-active {opacity: 1;}
.thumbGallery2 .swiper-slide img {display: block; width: 100%; height: 100%;}

.bulletListNumber{counter-reset: my-sec-counter;}
.bulletListNumber li{padding-left: 45px; position: relative; margin-bottom: 25px;}
.bulletListNumber li:last-child{margin-bottom: 0px;}
.bulletListNumber li::before{counter-increment: my-sec-counter; content: "0" counter(my-sec-counter) ". "; position: absolute; left: 0px; color: var(--brand-03); font-weight: 600;}

.tabsTable{border-collapse: separate; border-spacing: 0 16px;}
.tabsTable tr td{padding: 18px 40px; background-color: var(--bs-white); font-size: 18px; font-weight: 500;}
.tabsTable tr td:first-child{border-radius: 10px 0px 0px 10px;}
.tabsTable tr td:last-child{border-radius: 0px 10px 10px 0px;}
.tabsTable tr td:not(:first-child){font-weight: 700; color: var(--bs-black); font-size: 20px;}

.powerGPS_Slide .card{--bs-card-border-color:#E9F3F9;}

._ps.scTabs .tab-wrap .card{--bs-card-bg: transparent; --bs-card-border-width: .125rem; --bs-card-border-color:#00000008;}

ul.bulletCircle li{position: relative; font-size: 18px; font-weight: 500; margin: 10px 0px; padding-left: 30px;}
ul.bulletCircle li::before{content: ''; position: absolute; top: 12px; left: 0px; width: 5px; height: 5px; background-color: var(--tPrimary); border-radius: 50%;}

/* Code End */


/* Media Queries Started */


@media(min-width:2000px){
    .banner.fr{padding-top:clamp(20rem, 0rem + 16vw, 26rem);}
    .overview{background-position:50vw 50%; background-size:auto;}
}
@media(min-width:1600px){
    ._markets .box{max-width:130px;}
}
@media(min-width:1440px) and (max-width:1800px){
    .banner.fr{padding-top:18rem;}
    .overview{background-size:50vw;}
}
@media (max-width: 1399px){
    .gpsProduct-banner .deliveryTruck_rtl{margin-left: -5.5rem;}
    .gpsProduct-banner .screen-wrp .gps4G_Device{margin-right: 1.5rem;}
    .map-track{top: 3%; left: 85%;}
}
@media (min-width: 1200px){
    .h1, h1,.fs-1{font-size: 2.625rem;}
    .h2, h2{font-size:2.125rem;}
    .lightNavigation .site-header .navbar-nav .nav-link{color: var(--bs-white);}
    .lightNavigation .site-header.header-sticky .navbar-nav .nav-link{color: var(--bs-nav-link-color);}
    .lightNavigation .dropdown-toggle::after{filter: invert(1);}
    .lightNavigation .site-header.header-sticky .dropdown-toggle::after{filter: invert(0);}

    /* Navigation Dropdown */
    .navbar{--bs-navbar-nav-link-padding-x:1.2rem;}
    .dropdown-menu{min-width: 210px; --bs-dropdown-spacer: 0.5rem; --bs-dropdown-padding-y: 0rem; overflow: hidden; --bs-dropdown-item-padding-x: 1rem; --bs-dropdown-item-padding-y: 0.65rem; --bs-dropdown-border-color: #e3e3e3;}
    .dropdown-menu .dropdown-item{transition: all 300ms ease;}
    .dropdown-menu .dropdown-item:hover{padding-left: 25px; background-color: var(--brand-02); color: var(--bs-white);}
    .dropdown-menu{animation: dropdownUp 600ms ease 0s 1;}

    @keyframes dropdownUp {
        from {transform: translate3d(0, 10px, 0); opacity: 0;}
        to {transform: translate3d(0, 0, 0); opacity: 1;}
    }
}
@media (max-width: 1199px){
    .map-track{ top: 0%; left: 70%;}
    .gpsProduct-banner .screen-wrp .gps4G_Device{margin-right: 14rem;}
    .gpsProduct-banner .deliveryTruck_rtl{margin-left: 6rem;}
}

@media (min-width:579px) and (max-width:1366px) {
    .about-banner .content-wrp h1{font-size: 3.4rem;}
}

@media(min-width:1025px){
    .banner.fr{padding-top:20rem;}
    .banner.fr{height:100vh;}
    .uspSwipr .swiper-slide{min-width: 636px;}
    /* .banner.fr ._content ._expert{position:absolute;top:50%;right:10%;max-width:20rem;} */
}

@media(max-width:1024px){
    .site-footer .road > img{height: 45px;}
    .aboutWrapper .about-banner{padding: 150px 0px 90px;}
    .aboutWrapper .about-banner .img-wrp{max-width: 590px; margin: auto;}
    .bgMap{background-position: right;}
}
@media(max-width:991px){
    .uspCard .d-flex{flex-direction: column-reverse;}
    .uspCard .d-flex .figure img{height:100px;max-width:auto;}
    ._markets .box .content{font-size:13px;text-align:center;}
    .blogWrapper .blogPage .page-title.detailPage{padding-bottom: 200px;}
    .blogPage .detail-content{margin-top: -160px;}
    .blogWrapper .blogPage .page-title{padding: 160px 0px 60px;}
    .fmsMain .fms-banner .img-wrp .deliveryTruck{    margin-left: -59px;}
    .deliveryTruck svg{width: 130px; height: 130px;}
    .fmsMain .fms-banner .img-wrp .fms-mobile{max-width: 170px; margin-right: -50px;}
}
@media(min-width:768px) and (max-width:1439px){
    .banner.fr{padding-top:17rem;}
    .banner.fr .bg-overlay::after{background-color:rgba(0,0,0,40%);}
    .overview{background-size:50vw; }
}
@media(max-width:767px){
    .overview{padding-top:40rem !important;background-size:100vw;background-position:top right;}
    ._markets .d-flex{flex-direction:column;}
    ._markets .d-flex .box{display:flex;max-width:100%;align-items:start;gap:1.125rem;}
    ._markets .d-flex .box .icon{flex-shrink:0;margin-bottom:0px;}
    ._markets .d-flex .box .content{flex-grow:1;font-size:1.125rem;line-height:24px;text-align:left;padding-right:30px;}
    ._markets .d-flex .box .content::after{content:"";position:absolute;top:14px;right:10px;width:24px;height:24px;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23FF8500' d='M18.21 15.45V6.48a.69.69 0 0 0-.69-.69H8.55a.69.69 0 0 0 0 1.38h7.304l-9.862 9.862a.69.69 0 0 0 .976.976l9.862-9.862v7.304a.69.69 0 0 0 1.38 0Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");}
    .cpSlider .container, .cpSlider .row{--bs-gutter-x:0px}
    .themePills{flex-wrap:nowrap;--bs-nav-link-font-weight:500;--bs-nav-link-font-size:1rem;--bs-nav-link-padding-x:.5rem}
    .fs-18{font-size:.9375rem !important;}
    .road .car img{max-width:50%;}
    .usps .heading ._title{font-size: 14px;padding-left: 8px;}
    /* .road img:nth-child(2){transform:scale(3);} */
    .contactMain .contact-banner .content-wrp{padding: 130px 0px 50px;}
    form input, form textarea{padding: 12px 18px !important;}
    .gpsProduct-banner .deliveryTruck_rtl{margin-left: 0rem;}
    .gpsProduct-banner .deliveryTruck_rtl svg{width: 140px; height: 140px;}
    .gpsProduct-banner .screen-wrp .gps4G_Device{width: 140px; margin-right: 2rem;}
    .tabsTable tr td{font-size: 18px; padding: 14px 20px;}
    .tabsTable tr td:not(:first-child){font-size: 18px;}
}
@media(max-width:576px){
    .overview{padding-top:34rem !important;background-size:contain;background-position:top right;}
    .blogWrapper .blogPage .page-title.detailPage{padding:120px 0px 60px; padding-bottom: 140px;}
    .blogPage .detail-content{margin-top: -115px;}
    .fmsMain .fms-banner .img-wrp .fms-mobile{max-width: 85px; margin-right: -20px;}
    .gpsProduct-banner .screen-wrp{max-width: 254px;}
    .gpsProduct-banner .screen-wrp .gps4G_Device{width: 120px; margin-right: 6rem; margin-top: 10rem;}
    .gpsProduct-banner .deliveryTruck_rtl{margin-left: 2.2rem;}
}
@media(max-width:476px){
    .overview{padding-top:28rem !important;background-size:contain;background-position:top right;}
    .banner.fr{padding-top: 16rem;}
    .banner.fr ._content h1{font-size: 30px;}
    .banner.fr ._content p{font-size: 18px !important;}
    .gpsProduct-banner .screen-wrp{max-width: 220px;}
    .gpsProduct-banner .screen-wrp .gps4G_Device{margin-right: 1.5rem; margin-top: 8rem; width: 85px;}
    .gpsProduct-banner .deliveryTruck_rtl{margin-left: 0.2rem;}
    .map-track{width: 80px; height: 80px; line-height: 80px; top: 5%; left: 75%;}
    .map-track::after, .map-track::before{width: 80px; height: 80px;}
    .map-track svg{width: 33px; height: 42px; }
}
@media(max-width:399px){
    .overview{padding-top:25rem !important;}
}
